.env/*
*.pyc
__design/*
node_modules/*
.idea/
*.sublime-project
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
html/*
build/*
package-lock.json
./*zip
