/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: 'wf_segoe-ui', Segoe UI, SegoeUI, Tahoma, Verdana, Arial, sans-serif;
  color: #000;
  background-color: #fff;
  line-height: 1.2;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}
img {
  max-width: 100%;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
@at-root {
  @-ms-viewport {
    width: device-width;
  }
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
[tabindex="-1"]:focus {
  outline: 0 !important;
}
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.75em;
}
p {
  margin-top: 0;
  margin-bottom: 0.75em;
}
abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
}
address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}
dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}
blockquote {
  margin: 0 0 1rem;
}
dfn {
  font-style: italic;
}
b,
strong {
  font-weight: bolder;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
a {
  color: #00bcf2;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):focus {
  outline: 0;
}
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}
figure {
  margin: 0 0 1rem;
}
img {
  vertical-align: middle;
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
table {
  border-collapse: collapse;
}
caption {
  text-align: left;
  caption-side: bottom;
}
th {
  text-align: inherit;
}
label {
  display: inline-block;
}
button {
  border-radius: 0;
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
input[type="radio"],
input[type="checkbox"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}
textarea {
  overflow: auto;
  resize: vertical;
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
output {
  display: inline-block;
}
summary {
  display: list-item;
  cursor: pointer;
}
template {
  display: none;
}
[hidden] {
  display: none !important;
}
@font-face {
  font-family: 'wf_segoe-ui';
  src: url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/light/latest.eot');
  src: url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/light/latest.eot?#iefix') format('embedded-opentype'), url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/light/latest.woff') format('woff'), url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/light/latest.ttf') format('truetype'), url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/light/latest.svg#web') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'wf_segoe-ui';
  src: url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/semilight/latest.eot');
  src: url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/semilight/latest.eot?#iefix') format('embedded-opentype'), url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/semilight/latest.woff') format('woff'), url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/semilight/latest.ttf') format('truetype'), url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/semilight/latest.svg#web') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'wf_segoe-ui';
  src: url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/normal/latest.eot');
  src: url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/normal/latest.eot?#iefix') format('embedded-opentype'), url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/normal/latest.woff') format('woff'), url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/normal/latest.ttf') format('truetype'), url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/normal/latest.svg#web') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'wf_segoe-ui';
  src: url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/italic/latest.eot');
  src: url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/italic/latest.eot?#iefix') format('embedded-opentype'), url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/italic/latest.woff') format('woff'), url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/italic/latest.ttf') format('truetype'), url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/italic/latest.svg#web') format('svg');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'wf_segoe-ui';
  src: url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/semibold/latest.eot');
  src: url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/semibold/latest.eot?#iefix') format('embedded-opentype'), url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/semibold/latest.woff') format('woff'), url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/semibold/latest.ttf') format('truetype'), url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/semibold/latest.svg#web') format('svg');
  font-weight: 600;
  font-style: normal;
}
.fixed-aspect {
  position: relative;
}
.fixed-aspect:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.fixed-aspect > div,
.fixed-aspect > iframe,
.fixed-aspect > video,
.fixed-aspect > embed,
.fixed-aspect > span,
.fixed-aspect > img,
.fixed-aspect > svg {
  position: absolute;
}
.fixed-aspect--4by3:before {
  padding-top: 75%;
}
.fixed-aspect--16by9:before {
  padding-top: 56.25%;
}
.fixed-aspect--2by1:before {
  padding-top: 50%;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.section {
  padding-top: 50px;
  padding-bottom: 50px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .container {
    width: 740px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1330px) {
  .container {
    width: 1300px;
  }
}
.row {
  margin-left: -10px;
  margin-right: -10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}
.col-xs-12 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
}
.col-xs-11 {
  -ms-flex-preferred-size: 91.66666667%;
      flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}
.col-xs-10 {
  -ms-flex-preferred-size: 83.33333333%;
      flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}
.col-xs-9 {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  max-width: 75%;
}
.col-xs-8 {
  -ms-flex-preferred-size: 66.66666667%;
      flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}
.col-xs-7 {
  -ms-flex-preferred-size: 58.33333333%;
      flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}
.col-xs-6 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 50%;
}
.col-xs-5 {
  -ms-flex-preferred-size: 41.66666667%;
      flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}
.col-xs-4 {
  -ms-flex-preferred-size: 33.33333333%;
      flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}
.col-xs-3 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  max-width: 25%;
}
.col-xs-2 {
  -ms-flex-preferred-size: 16.66666667%;
      flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}
.col-xs-1 {
  -ms-flex-preferred-size: 8.33333333%;
      flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
.flex-start-xs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: start;
}
.flex-center-xs {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.flex-end-xs {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: end;
}
.flex-top-xs {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.flex-middle-xs {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex-bottom-xs {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.flex-around-xs {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.flex-between-xs {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flex-first-xs {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
.flex-last-xs {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
@media (min-width: 768px) {
  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
  .col-sm-11 {
    -ms-flex-preferred-size: 91.66666667%;
        flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .col-sm-10 {
    -ms-flex-preferred-size: 83.33333333%;
        flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%;
  }
  .col-sm-8 {
    -ms-flex-preferred-size: 66.66666667%;
        flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .col-sm-7 {
    -ms-flex-preferred-size: 58.33333333%;
        flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
  .col-sm-5 {
    -ms-flex-preferred-size: 41.66666667%;
        flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .col-sm-4 {
    -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
  }
  .col-sm-2 {
    -ms-flex-preferred-size: 16.66666667%;
        flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-sm-1 {
    -ms-flex-preferred-size: 8.33333333%;
        flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
  .flex-start-sm {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: start;
  }
  .flex-center-sm {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .flex-end-sm {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: end;
  }
  .flex-top-sm {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .flex-middle-sm {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .flex-bottom-sm {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .flex-around-sm {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .flex-between-sm {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .flex-first-sm {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .flex-last-sm {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (min-width: 992px) {
  .col-md-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
  .col-md-11 {
    -ms-flex-preferred-size: 91.66666667%;
        flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .col-md-10 {
    -ms-flex-preferred-size: 83.33333333%;
        flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .col-md-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%;
  }
  .col-md-8 {
    -ms-flex-preferred-size: 66.66666667%;
        flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .col-md-7 {
    -ms-flex-preferred-size: 58.33333333%;
        flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-md-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
  .col-md-5 {
    -ms-flex-preferred-size: 41.66666667%;
        flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .col-md-4 {
    -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-md-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
  }
  .col-md-2 {
    -ms-flex-preferred-size: 16.66666667%;
        flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-md-1 {
    -ms-flex-preferred-size: 8.33333333%;
        flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
  .flex-start-md {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: start;
  }
  .flex-center-md {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .flex-end-md {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: end;
  }
  .flex-top-md {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .flex-middle-md {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .flex-bottom-md {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .flex-around-md {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .flex-between-md {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .flex-first-md {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .flex-last-md {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (min-width: 1330px) {
  .col-lg-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
  .col-lg-11 {
    -ms-flex-preferred-size: 91.66666667%;
        flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .col-lg-10 {
    -ms-flex-preferred-size: 83.33333333%;
        flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .col-lg-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%;
  }
  .col-lg-8 {
    -ms-flex-preferred-size: 66.66666667%;
        flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .col-lg-7 {
    -ms-flex-preferred-size: 58.33333333%;
        flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-lg-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
  .col-lg-5 {
    -ms-flex-preferred-size: 41.66666667%;
        flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .col-lg-4 {
    -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-lg-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
  }
  .col-lg-2 {
    -ms-flex-preferred-size: 16.66666667%;
        flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-lg-1 {
    -ms-flex-preferred-size: 8.33333333%;
        flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
  .flex-start-lg {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: start;
  }
  .flex-center-lg {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .flex-end-lg {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: end;
  }
  .flex-top-lg {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .flex-middle-lg {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .flex-bottom-lg {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .flex-around-lg {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .flex-between-lg {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .flex-first-lg {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .flex-last-lg {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.svg-icon {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 16px;
  height: 16px;
  fill: #000;
}
.svg-icon__glyph {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  fill: inherit;
}
.svg-icon-store {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}
